services:

  synapse:
    image: matrixdotorg/synapse:latest
    container_name: synapse
    ports:
      - "8008:8008"
    volumes:
      - ./synapse-data:/data
    environment:
      - SYNAPSE_CONFIG_PATH=/data/homeserver.yaml

  jasmin:
    build: ./jasmin
    container_name: jasmin
    ports:
      - "2775:2775"   # SMPP
      - "1401:1401"   # HTTP API
      - "8990:8990"   # JCLI (telnet)
    volumes:
      - ./jasmin-data:/var/lib/jasmin
      - ./jasmin-logs:/var/log/jasmin

  glue:
    build: ./glue
    container_name: glue
    ports:
      - "8080:8080"
    environment:
      MATRIX_HOMESERVER: http://synapse:8008
      MATRIX_ROOM_ID: "!YOURROOM:server"
      MATRIX_ACCESS_TOKEN: "YOUR_TOKEN"
      JASMIN_API: http://jasmin:1401
    depends_on:
      - synapse
      - jasmin
