services:
  synapse:
    image: matrixdotorg/synapse:latest
    ports:
      - "8008:8008"
    volumes:
      - synapse-data:/data

  glue:
    build: ./glue
    ports:
      - "8080:8080"
    environment:
      MATRIX_HOMESERVER: http://synapse:8008
      MATRIX_ROOM_ID: "!DVCWvoQBpmnGlxESOp:hotline.local"
      MATRIX_ACCESS_TOKEN: ${MATRIX_ACCESS_TOKEN}
      JASMIN_HTTP_API: http://host.docker.internal:1401
    depends_on:
      - synapse

volumes:
  synapse-data:
